{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
     <title>{% block title%}{% endblock title%}</title>
    
    <!--  -->
    <link rel="shortcut icon" type="text/css" href="{% static 'favicon_io/favicon.ico'%}">
    <link href="{% static 'css/font_awesome/all.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/media-query.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/navbar-top.css' %}" rel="stylesheet">
    <style>
      body{
        background-color: rgba(0, 0, 0, .85);
      }
    </style>
  </head>
  <body style="background-color:#212529;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'market:market'%}">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'market:market'%}">Store</a>
        </li>
      </ul>
    
    <li class="nav-item" style="list-style: none;">
      <a class="nav-link" href="#">
        <button class="btn btn-warning">Sign in</button>
      </a>
    </li>
      <li class="nav-item " style="list-style: none;">
        <a href="{% url 'market:cart'%}" class="cart position-relative d-inline-flex" aria-label="View your shopping cart">
          <i class="fas fa fa-shopping-cart fa-lg"></i>
          <span class="cart-basket d-flex align-items-center justify-content-center">
            0
          </span>
        </a>
          </li>
    </div>
  </div>
</nav>
 
  <div class="container"><!--Main Content Div-->
    {% block content %}{% endblock content%}      
  </div>

  <div class="container"><!--Footer Div-->
    {% block footer %}
      {% include 'market/footer.html' %}
    {% endblock footer %}
  </div>

</body>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>
